* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    background: url(../img/fondooooo.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo {
    background: url(../img/images-removebg-preview.png) no-repeat 80% 80%;
    background-size: contain;
    width: 280px;
    height: 155px;
    float: left;
}

.menu {
    right: 50px;
    margin-top: 0px;
}

.menu a {
    margin-left: 50px;
    font-size: 34px;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}


.menu a:hover {
    color: rgb(175, 106, 26);
}

.menu2 a:hover {
    color: rgb(175, 106, 26);
}

nav {
    height: 170px;
    top: 0;
    align-items: center;
    background: darkgreen;
    width: 100%;
    border-bottom: 10px solid black;
}

.texto {
    margin-left: 10px;
    margin-right: 10px;

}

.ti {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(175, 106, 26);
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;

}

section p {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

.soc {
    background-color: darkgreen;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

section {
    margin-top: 20px;
    border-bottom: 10px solid darkgreen;
    border-top: 10px solid darkgreen;
    border-left: 10px solid rgb(125, 24, 134);
    border-right: 10px solid rgb(125, 24, 134);
    border-radius: 12%;
}

section img {
    margin-left: 40%;
    margin-bottom: 15px;
    border-radius: 20px;
    border: solid black;
}

header {
    background-color: darkgreen;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;


}
.co{
    text-align: center;
    background-color: darkgreen;
    border-top: 10px solid black;
}